body {
      width: 100%;
      height: 100%;
      margin:0;
      background-color: #F3F4F9;
    }
 header {
   width: 100%;
   margin:0;
   height: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid 1px #dfdfdf;
   background-color:  white;
 } 
 
 #div_all, #div_form1, #div_form2 {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
 }
 #div_form1, #div_form2 {
  display: block; 
  display: none;
 }
.container_uno {
  height: 100vh;
  width: 100%;
background-color: #FF3220;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} 
.container_uno_in {
  position: absolute;
  top: 0;
  height: 450px;
  width: 100%;
  background-image: url('./png/back.png');
background-size: 100%;  
}
#div_btn_canjear {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25%;
} 
#btn_canjear {
  width: fit-content;
  height: auto;
  padding: 12px 20px 12px 20px;
  background-color: white;
  border-radius: 50px;
  color: #FF3220;
  margin: 0;
  font-weight: bold;
}  
 
 .div_a, .in_div_a {
   width: 100%;
   height: auto;
   margin: 0;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .in_div_a {
   width: 88%;
 }
 h2 {
   color: #454545;
   text-align: center;
   margin: 0;
   margin-bottom: 15px;
 }
 .pa1, .pa2 {
   color: gray;
   margin: 0;
   text-align: center;
 }
.pa2 {
  font-size: 14px;
} 
.plink, .plink2 {
  color: #FF1C73;
  margin: 0;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 9px;
 text-decoration: underline;
}
.plink2 {
margin-bottom: 0;  
}
 
 .icon_promo, .icon_promo2, .icon_promo3, .icon_promo4 {
   width: 260px;
   height: 160px;
   border-radius: 25px;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
 }
 .icon_promo2 {
 width: 160px;
   height: 160px;  
 }
 .icon_promo3 {
   width: 100%;
   height: auto;
 }
 .icon_promo4 {
   width: 70%;
   height: auto;   
 }
 hr {
   width: 100%;
   height: 1px;
   border: 0;
   background-color: gray;
   border-radius: 2px;
 }
 
 
 
.error {
margin: 0; 
color: #FF3220;
font-size: 14px;
 }
 
 #uno {
   display: flex;
   width: 100%;
   margin: 0;
   margin-left: 0;
   margin-right: auto;
 }
 #dos, #tres {
   display: flex;
   width: 100%;
   height: auto;
 /*  background-color: white;*/
   margin:auto;
   margin-left: auto;
   margin-right: auto;
 /* background-color: blue;*/
 }
 #dos {
   flex-direction: column;
   justify-content: left;
 }
 #tres {
   margin-right: 0;
 }
 #img1 {
   margin:0;
   margin-left: 20px;
   margin-right: auto;
   width: 100px;
   height: 60px;
 }
 #tres {
   right: 0;
   display: flex;
   margin-right: 15px;
   margin-left: auto;
 }
 #img2 {
   width: 40px;
   height: 40px;
   margin:auto;
   margin-right: 15px;
 }
 
 h1 {
   text-align: left;
   margin:0;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 30px;
   margin-bottom: 15px;
   
 }
 
h1 {
  margin: 0;
  text-align: center;
  color: #22404C;
}
#div_in_form, #div_in_form2 {
  width: 85%;
  height: auto;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
} 
 form {
   width: 90%;
   margin:0;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   background-color: white;
   border: solid 1px #dfdfdf;
 }
 label {
   color: #22404C;
   margin: 0;
 }
 input {
   width: 100%;
   margin: 0;
   height: 40px;
   background-color: white;
   border: none;
   border-radius: 50px;
   margin-bottom: 0;
   margin-top: 7px;
   padding-left: 10px;
   box-sizing: border-box;
   border: solid 1px #ff1c736f;
 }
 #div_in_inputs_valid {
   margin: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
 }
 #input10, #input11, #input12, #input13, #input14, #input15, #input16, #input17 {
   width: 30px;
   height: 35px;
   margin: 0;
   background-color: white;
   border-radius: 10px;
   margin-right: 5px;
 }
 #input-submit, #input-submit-valid {
   width: 130px;
   height: 45px;
   border-radius:50px;
   background-color: #ff1c73;
   margin-bottom: 30px;
   margin-top: 25px;
   color: white;
   font-weight: bold;
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #input-submit:active {
   color: #ff1c73;
   background-color: white;
 }
 #pi1, #pi2, #pi3 {
   color: #850122fe;
   font-size: 10px;
   font-weight: 700;
   margin-bottom: 10px;
   width: 100%;
   text-align: right;
 }
 
 #py, #py2, #py3 {
   color: black;
   font-size: 13px;
   font-weight: bold;
   text-align: center;
   width: fit-content;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
 }
  #py2 {
    margin-top: 10px;
    color: #850122fe;
    font-weight: 400;
    font-size: 17px;
  }
  #py3 {
  margin-top: 60px;
    color: black;
    font-weight: 400;
    font-size: 9px;  
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
  }
  
  
  #ic1, #ic2 {
    display: flex;
    width: 120px;
    height: 45px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
  }
  #ic2 {
    width: 260px;
    height: 270px;
    margin-top: 30px;
  }
  
  
 #div-uno {
   width: 100%;
   height: auto;
   margin: 0;
   background-color: white;
   
 }
 #pd1, #pd2 {
  color: gray;
   font-size: 17px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 10px;
   width: 100%;
   text-align: center;
 padding-left: 15px;  
 padding-right: 15px;
  box-sizing: border-box; 
 }
 #pd2 {
 color: black;  
 font-size: 22px;
 font-weight: bold;
 }
 #ic4 {
   width: 100%;
   height: 20%;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
 }
 
 #div-o1 {
   width: 70%;
   height: 200px;
   margin: auto;
   margin-left: 10%;
   margin-top: 20px;
   margin-bottom: 20px;
   border: solid 1px black;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .ic5 {
   display: flex;
   width: 65px;
   height: 65px;
  margin:0;
  margin-left: 10%;
  margin-bottom: 5px;
 }
 #pt1, #pt2 {
   color: black;
   font-size: 17px;
   font-weight: bold;
   margin: 0;
   margin-left: 10%;
   margin-bottom: 15px;
 }
 #pt2 {
 font-size: 15px;  
 font-weight: 400;
 }
 
 
 #div-descargar-app {
   width: 90%;
   height: auto;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
 }
 #pdd1 {
   color: black;
   font-size: 22px;
   font-weight: bold;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   text-align: center;
 }
 
 #dpd1 {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }
 #dpdl, #dpdr {
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 }
 .ic6, #ic6 {
   width: 80%;
   height: 80%;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 40px;
 }
 
 #pie {
   width: 90%;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
 }
 #pr, #prr {
   font-size: 20px;
   font-weight: bold;
   margin: 0;
   color: black;
   margin-top: 25px;
 }
 #prr {
   margin-top: 35px;
 }
 #r {
 font-size: 17px;
 color: black;
 font-weight: bold;
 margin: 0;
 margin-top: 20px;
 }
 
 #info-p {
   width: 100%;
   height: auto;
   background-color: #F3F4F9;
   padding-bottom: 40px;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 
 
 
 #menu {
   position: fixed;
   width: 100%;
   height: auto;
   top: 0;
   bottom: 0;
   background-color: white;
  display: none;
  z-index: 99999;
 }
 #ic_menu_close {
   display: flex;
   right: 0;
   width: 35px;
   height: 35px;
   margin: auto;
   margin-right: 5%;
   margin-top: 20px;
   margin-bottom: 30px;
 }
 #id1 {
   color: black;
   font-size: 17px;
   font-weight: bold;
   margin:0;
   margin-left: 5%;
   margin-bottom: 16px;
 }
 
 #div_im {
   width: 50%;
   height: auto;
   margin: 0;
   margin-left: 5%;
   display: flex;
 }
 .imm {
   margin: auto;
   margin-left: 0;
   width: 85px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 
 
 #div_alert {
   position: fixed;
   width: 100%;
   height: auto;
   background-color: black;
  top: 0;
  padding-bottom: 25px;
  margin-top: 60px;
 }
 #img_alert {
   width: 25px;
   height: 25px;
   margin-left: auto;
   margin-right: 5%;
   margin-top: 0;
   display: flex;
 }
 #text_alert {
   margin: 0;
   color: white;
   margin-bottom: 10px;
   margin-left: 5%;
   margin-right: 5%;
 }
 a {
   color: gray;
 }
 
 
 #utld {
   width: fit-content;
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 #icul {
   width: 25px;
   height: 25px;
   margin: 0;
   margin-right: 7px;
 }